<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/regular">User Portal</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/awards">Awards<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>User Portal - View Awards</h1>
<h2>Add a New Award</h2>
<div class="small-space"></div>
<div class="form-group">
<form id="addAward" action="/awards" method="post">
    <label for="first_name">Recipient First Name</label>
    <input type="text" class="form-control" id="first_name" name="first_name"></input>
</div>
<div class="form-group">
    <label for="last_name">Recipient Last Name</label>
    <input type="text" class="form-control" id="last_name" name="last_name"></input>
</div>
<div class="form-group">
    <label for="email">Recipient Email</label>
    <input type="text" class="form-control" id="email" name="email"></input>
</div>
<div class="form-group">
    <label for="type">Award Type</label>
    <!-- <input type="text" class="form-control" id="type" name="type"></input> -->
    <select name="type">
	<option value="Employee of the Month">Employee of the Week</option>
	<option value="Employee of the Week">Emplpoyee of the Month</option>
	<option value="Employee of the Week">Emplpoyee of the Quarter</option>
	<option value="Employee of the Week">Emplpoyee of the Year</option>
   </select>
</div>
<div class="form-group">
    <label for="date">Date - YYYY-MM-DD</label>
    <input type="text" class="form-control" id="date" name="date" accept=""></input>
</div>
<div class="form-group">
    <label for="account">User Account Number</label>
    <!-- <input type="text" class="form-control" id="user_id" name="user_id" accept=""></input> -->
    <select name="user_id" id="user_id">
	{{#each users.u_ids}}
		<option>{{this}}</option>
	{{/each}}
    </select>
</div>
    <button type="submit" class="btn btn-primary">Create Award</button>
</form>
<div class='vertical-space'></div>
<h2>Current Awards</h2>
<div>
    <table id="awardsTable" class="table">
        <thead>
            <th></th>
	    <th></th>
            <th>Award ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Date Created</th>
            <th>Time Created</th> 
            <th>User ID</th>      
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <button onclick="deleteAwards({{award_id}})">Delete</button>
                </td>
		<td>
		    <button>			
			<a href="/awards/resendAward/{{award_id}}/">Resend</a>		
		    </button>
		</td>
                <td>{{award_id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
                <td>{{type}}</td>
                <td>{{date}}</td>
                <td>{{time}}</td>
                <td>{{user_id}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
