<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin">Admin Portal</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analytics">Analytics</a>
      </li>
    </ul>
  </div>
</nav>
<div class='small-space'></div>
<h1>Update User {{users.first_name}} {{users.last_name}}:</h1>
<div class="small-space"></div>
<form id="update-users" action="/users" method="put" enctype="multipart/form-data">
  <div class="form-group">
    <label for="first_name">First name</label>
    <input type="text" class="form-control" id="first_name" name="first_name" value="{{users.first_name}}">
  </div>
  <div class="form-group">
    <label for="last_name">Last name</label>
    <input type="text" class="form-control" id="last_name" name="last_name" value="{{users.last_name}}">
  </div>
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" name="username" value="{{users.username}}">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" name="password" value="{{users.password}}">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <input type="text" class="form-control" id="type" name="type" value="{{users.type}}">
  </div>
  <button type="submit" class="btn btn-primary" onclick="updateUsers({{users.user_id}})">Submit</button>
</form>