<h1>Administrator Portal - Users</h1>
<h2>Add a New User</h2>
<form id="addUser" action="/users" method="post">
    <p>First Name</p>
    <input type="text" id="first_name" name="first_name"></input>
    <p>Last Name</p>
    <input type="text" id="last_name" name="last_name"></input>
    <p>Username</p>
    <input type="text" id="username" name="username"></input>
    <p>Password</p>
    <input type="text" id="password" name="password"></input>
    <p>Signature</p>
    <input type="text" id="signature" name="signature"></input>
    <p>Type (admin, regular)</p>
    <input type="text" id="type" name="type"></input>
    <input type="submit" value="Submit">
</form>
<h2>Current Users</h2>
<div>
    <table id="usersTable" class="table">
        <thead>
            <th></th>
            <th></th>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>Time Created</th>
            <th>Date Created</th>
            <th>Type</th>
            <th>Signature</th>
            
        </thead>
        <tbody>
            {{#each users}}
            <tr>
                <td>
                    <button onclick="deleteUsers({{user_id}})">Delete</button>
                </td>
                <td>
                    <button>
                        <a href="/users/{{user_id}}/">Modify</a>
                    </button>
                </td>
                <td>{{user_id}}</td>
                <td>{{first_name}}</td>
                <td>{{last_name}}</td>
                <td>{{username}}</td>
                <td>{{password}}</td>
                <td>{{time}}</td>
                <td>{{date}}</td>
                <td>{{type}}</td>
                <td>{{signature}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>